.div1{
   margin: 60px 500px;
}
form{
    background-color:salmon;
	padding: 30px 30px;
	border: solid brown;
    border-radius: 20px;
    box-shadow: 1px 2px 15px brown;
}
input{
    color: black;
    background-color: blueviolet;
    width: 35px;
    height: 45px;
    
}
tr td{
    line-height: 55px;
}
input.result{
    background-color:aqua;
    width: auto;
}
